* {margin: 0;}

html {
  font-size: 18px;
}


body {
  font-family: "Times New Roman", sans-serif;
  font-size: medium;
  background-color: var(--color0);
  color: var(--color10);
  min-width: 420px; /* or whatever minimum width you desire */
  overflow-x: auto; /* to allow horizontal scrolling if needed */
}

img, video, .container {
  max-width: 100%;
  height: auto;
}

header {
  background-color: var(--color2);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 30px;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  color: var(--color9);
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
  color: var(--color8);
}

nav {
  font-size: 1.2rem;
  background-color: var(--color1);
  color: var(--color8);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
  
nav li {
  display: inline-block;
  margin-inline: 10px;
}
  
nav a {
  color: var(--color9);
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: var(--color10);
  margin-bottom: 1rem;
  width: 100%;
}

#logo {
  position: absolute; /* Fixed position */
  top: 14px;  /* Align to the top */
  left: 20px;  /* Align to the right */
}

.brief {
  text-align: center;
  max-width: 800px;
  font-size: large;
}

.para-title {
  text-align: left;
  padding: 0;
  margin-bottom: 0.2em;
  color: var(--color10);
}

.article-body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-sizing: border-box;
}

.lyrics-box {
  background-color: var(--colort);
  padding: 9px 12px 9px 10px;
  border-radius: 12px;
  margin-bottom: 7px;

  -webkit-column-count: 2;  /* Chrome, Safari, Opera */
  -moz-column-count: 2;     /* Firefox */
  column-count: 2;          /* Standard syntax */
  
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;    /* Firefox */
  column-gap: 40px;         /* Standard syntax */
  
  /* Optional, to ensure content is distributed evenly across columns */
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;

  -webkit-column-rule: 1px solid #ccc; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid #ccc;    /* Firefox */
  column-rule: 1px solid #ccc;         /* Standard syntax */
}

@media screen and (max-width: 500px) {
  .lyrics-box {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media screen and (min-width: 750px) {
  .lyrics-box {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.lyrics {
  font-style: italic;
  margin-bottom: 0px;
}

.background-color1 {
  background-color: var(--color1);
}

.background-color2 {
  background-color: var(--color2);
}

.centered-box {
  display: flex;
  justify-content: center; /* This will center its children horizontally */
  margin: 20px 40px 30px 35px;
}